<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - My Flask App</title>
    {% endblock %}
</head>
<body>
    <header>
        <h1>Phạm Thế Hùng - 2374802010164 - Lớp 0103</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>2025  My Flask App Phạm Thế Hùng - 2374802010164 - Lớp 0103</p>
    </footer>
</body>
</html>